body{
    background-color: #496FF4;
}
    h1
    {
        color:white;
        text-align: center;
        
    }
    h3
    {
        color: white;
        font-style: italic;
        font-size: xx-large;
        text-align: center;

    }
    #courses
    {
        width: 50%;
        margin-left: 25%;
        text-align: center;
    }
h4
    {
        font-weight: 900;
        font-size: x-large;

    }